._global-header {
  z-index: 4;
  position: relative;
}
._global-header .ui-search {
  z-index: auto;
}
._global-header.koakuma-placeholder {
  /* I don't know why #koakuma just 32px
     but it should preserve 42px to keep all spacing correct */
  margin-bottom: 42px;
}
#toolbar-items {
  z-index: 5;
}
.ω {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}
.ω,
.ω .layout-a,
.ω .layout-body {
  transition: width 0.2s;
}
.ω.↔,
.ω.↔ .layout-a,
.ω.↔ .layout-body {
  width: 100% !important;
}
.ω.↔ .layout-a {
  display: flex;
  flex-direction: row-reverse;
}
.ω.↔ .layout-column-2 {
  flex: 1;
  margin-left: 20px;
}
.ω.↔ .layout-body,
.ω.↔ .layout-a {
  margin: 10px 20px;
}
