._global-header {
  z-index: 4;
  position: relative;
}
._global-header .ui-search {
  z-index: auto;
}
._global-header.koakuma-placeholder {
  /* I don't know why #koakuma just 32px
     but it should preserve 42px to keep all spacing correct */
  margin-bottom: 42px;
}
#toolbar-items {
  z-index: 5;
}
.ω {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}
.ω,
.ω .layout-a,
.ω .layout-body {
  transition: width 0.2s;
}
.ω.↔,
.ω.↔ .layout-a,
.ω.↔ .layout-body {
  width: 100% !important;
}
.ω.↔ .layout-a {
  display: flex;
  flex-direction: row-reverse;
}
.ω.↔ .layout-column-2 {
  flex: 1;
  margin-left: 20px;
}
.ω.↔ .layout-body,
.ω.↔ .layout-a {
  margin: 10px 20px;
}

/* annoyings, ref: lib/pixiv.js */

iframe,
/* Ad */
.ad,
.ads_area,
.ad-footer,
.ads_anchor,
.ads-top-info,
.comic-hot-works,
.user-ad-container,
.ads_area_no_margin,
/* Premium */
.hover-item,
.ad-printservice,
.bookmark-ranges,
.require-premium,
.showcase-reminder,
.sample-user-search,
.popular-introduction,
._premium-lead-tag-search-bar,
._premium-lead-popular-d-body,
._premium-lead-promotion-banner {
  display: none !important;
}

:root {
  --new-default-image-item-square-size: 184px;
}

/* dotted focus */
a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0 !important;
  outline: 0 !important;
}
a:focus,
button:focus {
  outline: 0 !important;
}
